

/********IMPORTACION FUENTE*********/
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
/*****************/



html{}
p { color: black; font-family: 'Merriweather'; }
a {
text-decoration: none;
}
h2{
 font-size: 30px;
 font-style: normal;
 font-family: 'Merriweather';
 margin: 0px 0px 10px 0px;
 font-weight: bold;
 color:#5d5f63;
 
}
h3{
 font-size: 14px;
 font-weight: bold;
 font-style: normal;
 margin: 0px 0px 10px 0px;
 font-style: normal;
}
.font-white{
 color: #fff;
}

body {
  font-family: 'Merriweather', serif;
  color: white;
  background-color: #f9f9f6;
  /*-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;*/
}

a {
  text-decoration: none;
}

/***SOCIAL BUTTON***/

.icon-youtube {
  background-image: url(../img/icon-youtube.png);
  background-position: center;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 1;
  position: absolute;
  -ms-transition:all 0.6s linear;
  -o-transition:all 0.6s linear;
  -moz-transition:all 0.6s linear;
  -webkit-transition:all 0.6s linear;
  transition:all 0.6s linear;

}
.icon-youtube:hover {
  background-image: url(../img/icon-youtube-hover.png);
  background-position: center;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 1;
}

.icon-facebook {
  background-image: url(../img/icon-facebook.png);
  background-position: center;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 1;
  position: absolute;
  -ms-transition:all 0.6s linear;
  -o-transition:all 0.6s linear;
  -moz-transition:all 0.6s linear;
  -webkit-transition:all 0.6s linear;
}
.icon-facebook:hover {
  background-image: url(../img/icon-facebook-hover.png);
  background-position: center;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 1;
}
.icon-twitter {
  background-image: url(../img/icon-twitter.png);
  background-position: center;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 1;
  position: absolute;
  -ms-transition:all 0.6s linear;
  -o-transition:all 0.6s linear;
  -moz-transition:all 0.6s linear;
  -webkit-transition:all 0.6s linear;
  transition:all 0.6s linear;
}
.icon-twitter:hover {
  background-image: url(../img/icon-twitter-hover.png);
  background-position: center;
  height: 20px;
  width: 20px;
  display: block;
  opacity: 1;
}

/***SOCIAL BUTTON***/

.border-right-bx:before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: black;
}
*:focus {
    outline: 0;
}
 /*BREADCRUMB*/

.breadcrumb {
  background: none;
  padding: 30px 15px;
  margin-bottom: 0px;
  list-style: none;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #5d5f63;
  content: ">";
}
.breadcrumb li a{
  color: #d6c294;
  transition: all 0.6s linear;
}
.breadcrumb li a:hover{
  color: #5d5f63;
  text-decoration: none;
}
/*    MAIN MENU    */

/*.navbar-fixed-top {
  top: 20px;
}

.navbar-fixed-top .container {
  top: 20px;
  background-color: #d6c294;
}

.navbar-brand {
  float: left;
  height: 60px;
}

.navbar-brand img {
  width: 104px;
  height: 30px;
}

.navbar-right {
  margin-right: 0px;
}

.main-nav ul {
  display: inline;
}

.navbar-nav > li {
  background-color: none;
  padding-top: 6px;
}

.navbar-nav > li.active > a {
  color: #8f807a;
}

.navbar-nav > li > a {
  font-size: 16px;
  color: white;
  background-color: none;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
  color: #8f807a;
  background-color: #d6c294;
}

.navbar-nav > li > input {
  border: none;
  width: 100px;
  height: 25px;
  border-radius: 15px;
  padding: 0;
  text-align: right;
  padding-right: 20px;
  margin-top: 11px;
  background-color: #e8dec4;
}

.navbar-nav > li > input::-webkit-input-placeholder {
  color: #d6c294;
}

.navbar-nav > li > input:-moz-placeholder {
  color: #d6c294;
}

.navbar-nav > li > input::-moz-placeholder {
  color: #d6c294;
}

.navbar-nav > li > input:-ms-input-placeholder {
  color: #d6c294;
}*/

/*MENU-HEADER*/

.navbar-fixed-top {
  top: 20px;
}
.navbar-fixed-top .container {
  top: 20px;
  background-color: #d6c294;
}
.navbar-brand {
  float: left;
  height: 60px;
  padding: 15px 15px;
}
p, a {
  color: black;
  font-family: 'Merriweather';
}
.navbar-brand img {
  width: 105px;
}
.navbar-right {
  margin-right: 0px;
}
.navbar-nav > li {
  background: none;
  padding-top: 6px;
}
.item, .active, .carousel-inner {
  height: 100%;
}
.navbar-nav > li.active > a {
  color: #8f807a;
}
.navbar-nav > li > a {
  font-size: 16px;
  color: white;
  background-color: none;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus {
  color: #8f807a;
  background-color: #d6c294;
}
.navbar-nav > li > a {
  font-size: 16px;
  color: white;
  background-color: none;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

input[type="search"] {
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #e8dec4;
  border-radius: 15px;
  height: 27px;
  width: 110px;
  text-align: left;
  font-family: 'Merriweather';
  border: 1px solid #e8dec4;
  -ms-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  background-size: 25px;
  font-style: italic;
  font-size: 14px;
  color: #d6c294 !important;
  margin-top: 10px;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.form-control:-ms-input-placeholder { color: #d6c294; }
.form-control:-o-placeholder { color: #d6c294; }
.form-control::-moz-placeholder { color: #d6c294; }
.form-control::-webkit-input-placeholder { color: #d6c294; }

input[type="search"]:focus{
    width: 200px;
}
.form-control:focus {
  border-color: #d6c294;
  outline: 0;
  -ms-box-shadow: inset 0 0px 0px rgb(214, 194, 148), 0 0 0px rgb(214, 194, 148);
  -o-box-shadow: inset 0 0px 0px rgb(214, 194, 148), 0 0 0px rgb(214, 194, 148);
  -moz-box-shadow: inset 0 0px 0px rgb(214, 194, 148), 0 0 0px rgb(214, 194, 148);
  -webkit-box-shadow: inset 0 0px 0px rgb(214, 194, 148), 0 0 0px rgb(214, 194, 148);
  box-shadow: inset 0 0px 0px rgb(214, 194, 148), 0 0 0px rgb(214, 194, 148);
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding-top: 9px;
  margin-top: 12px;
  margin-right: 0px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 2px solid #fff;
  border-radius: 0px;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar-toggle:hover {
  background-color: #fff;
}
.navbar-toggle:hover .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 0px;
  background-color: #d6c294;
}
.container > .navbar-collapse {
  margin-right: 0px;
  margin-left: 0px;
}
#navbar.collapse.in{
  position: relative;
}

/*MENU-SIDEBAR*/



#menu-sidebar{
  width: 320px;
  font-family: 'Merriweather';
  list-style: none;
}

#menu-sidebar a{
    color:#5d5f63;
    font-family: 'Merriweather';
    list-style: none;
    font-weight: bold;
}
#menu-sidebar a:hover{
  color:#d6c294;
  text-decoration: none;
}
.menu-circle{
    font-size: 15px;
    line-height: 0px;
    display: block;
    margin:15px 0px 0px 10px;
    font-weight: bold;
    cursor: pointer;
}
.menu-circle:before {
    content: "·";
    font-size:50px;
    vertical-align: -webkit-baseline-middle;
}
.menu-circle:hover {
    color: #d6c294;
}

.cross:hover {
    color: #d6c294;
}
.cross:before {
    content: "+";
    font-size: 25px;
    vertical-align: bottom;
    color: #d6c294;
    margin-right: 5px;
    font-weight: lighter;
}

a.list-group-item.cross:before:active{
    content: "-";
    font-size: 25px;
    vertical-align: top;
    color: #d6c294;
    margin-right: 5px;
    font-weight: lighter;
}

#menu-sidebar ul ul li{
    font-size: 14px;
    line-height: 24px;
    display: block;
    clear: both;
    margin:0px 0px 0px 30px;
    font-weight: bold;
}
#menu-sidebar ul ul li:hover{
    color: #d6c294;
}
.filter-active ul li a {
   color: #d6c294; 
}
#menu-sidebar ul ul ul li {
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0px 0px 40px;
    font-weight: bold;
}

.list-group-item-success {
  background: none;
}
a.list-group-item-success:hover, a.list-group-item-success:focus {
  background: none;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 0px 0px 0px;
  background: none;
  border: 0px solid #fff;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
a.list-group-item:hover, a.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background:none;
}
a.list-group-item:active {
    color: #d6c294 !important;
}
.panel{
  background: none;
  border: 0px solid transparent;
  -ms-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
  -o-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
  box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}
.mainItem{
    padding-bottom: 10px;
}
.subitem{
    padding: 0px 0px 0px 20px;
}
.box-header{
  height: 80px;
  background-color: #d6c294;
  padding: 15px;
  margin-top: -5px;

}
.box-header h2 {
  color:#5d5f63;
  font-weight: bold;
  font-size: 30px;
}
.arrow-down{
  float: right;
  margin-top: 10px;
}




/*   SECTION   */

.header-section {
  
}
.header-section h2 {
  font-size: 44px;  
  font-weight: bold;
  color: #5d5f63;
  margin: 0;

}
.header-section p {
  font-size: 14px;
  color: #d6c294;
  margin-bottom: 20px;
}

/*   SECTION   */

/* BOXES HOME */

.box-section {
}
.box-section h2  {  
  color: #ffffff;
  font-size: 30px;
}
.box-section p {  
  color: #ffffff;
  margin-bottom: 20px;  
}

.img-box img {
  min-width: 100%;
}

.border-right-bx:before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #5d5f63;
  margin: 0;
  padding: 0;
}
/* BOXES HOME */


/*    BANNER    */

.banner {
  padding-top: 80px;
  height: 700px;
}

/* BANNER */

.carousel {
    height: 800px;
    z-index: 999;
}


.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*.fill:after {
  content: url(../img/icon-btn-play.png);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: calc(50% - 39px);
  background-color: rgba(93, 95, 99, .6);
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}*/

.carousel-caption {
  top: 30%;
}

.carousel-control {
  top: 80px;
}
.carousel-control.right  {    
  width: 0;
  height: 0;
  right: 18px;
  border-top: 36px solid transparent;
  border-bottom: 38px solid transparent;
  border-left: 49px solid #c3beb8;
  content: '';
  top: 50%; 
  -ms-transform: scale(0.75);  
  -o-transform: scale(0.75);  
  -moz-transform: scale(0.75);  
  -webkit-transform: scale(0.75);  
  transform: scale(0.75);
  -ms-transition: all 0.6s linear; 
  -o-transition: all 0.6s linear; 
  -moz-transition: all 0.6s linear; 
  -webkit-transition: all 0.6s linear; 
  transition: all 0.6s linear; 
}

.carousel-control.left  {    
  width: 0;
  height: 0;
  left: 18px;
  border-top: 36px solid transparent;
  border-bottom: 38px solid transparent;
  border-right:49px solid #c3beb8;
  content: '';
  top: 50%;
  -ms-transform: scale(0.75);  
  -o-transform: scale(0.75);  
  -moz-transform: scale(0.75);  
  -webkit-transform: scale(0.75);  
  transform: scale(0.75);
  -ms-transition: all 0.6s linear; 
  -o-transition: all 0.6s linear; 
  -moz-transition: all 0.6s linear; 
  -webkit-transition: all 0.6s linear; 
  transition: all 0.6s linear;  
}
.carousel-control .icon-next:before{
  content: '' !important;
}
.carousel-control.icon-prev:before{
  content: '' !important;
}


.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  text-indent: -999px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
}
.carousel-indicators li:hover {
  -ms-transition-duration: 0.7s; /* Safari */
  -o-transition-duration: 0.7s; /* Safari */
  -moz-transition-duration: 0.7s; /* Safari */
  -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
  background-color: rgba(255, 255, 255, 1);
} 


.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 1);
}


.banner h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 55px;
  font-weight: 200;
}

.banner p {
  margin-bottom: 30px;
}

.banner .button {
  padding: 10px 40px 10px 40px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
    background-color: #c32420;
    border: none;
    color: white;
    text-shadow: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: none !important;
}


/*    CONTAINERS    */


@media (min-width: 1200px) {
  .container {
    width: 90%;
    max-width: 1300px;
  }
}


.no-padding {
  padding: 0;
}
.no-padding-left {
  padding-left: 0;
  padding-right: 15px;
}

.content-block {
  /*margin-bottom: 250px;*/
}

.box-proyect-carusel {
  height: 650px;
}
.height-medium {
  height: 385px;
}

/*PAGINACION*/
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:hover:first-child > a, .pagination > li:hover:first-child > span {
  margin-left:0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.pagination > li > a, .pagination > li > span {
  padding: 3px 9px;
  color: #337ab7;
  text-decoration: none;
  background: none;
  border: 2px solid #d6c294;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  color:#000;
  font-family: 'Merriweather';
  font-weight: bold;
    -ms-transition: background-color 0.6s linear;
    -o-transition: background-color 0.6s linear;
    -moz-transition: background-color 0.6s linear;
    -webkit-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;  
}
.pagination > li:hover > a, .pagination > li:hover > span {
  padding: 3px 9px;
  color: #337ab7;
  text-decoration: none;
  background-color: #d6c294;
  border: 2px solid #d6c294;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  color:#fff;
}
.pagination {
  margin-left: 25%;
}
a.previous {
  color: #d6c294 !important;
  width: auto !important;
  border: 0px !important;
  padding: 5px 40px 5px 10px !important;
  -webkit-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
}
a.previous:after, a.previous:before {
  height: 8px;
  border-right: 3px solid #d6c294;
  content: "";
  position: absolute;
  right: 20px;
  top: 7px;
  -webkit-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
}
a.previous:hover:after, a.previous:hover:before {
  height: 8px;
  border-right: 3px solid #fff;
  content: "";
  position: absolute;
  right: 20px;
}
a.previous:after {
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  
}
a.previous:before {
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
  top: 15px;
}
a.previous:hover{
  color: #fff !important;
}
a.next {
  color: #d6c294 !important;
  width: auto !important;
  border: 0px !important;
  padding: 5px 10px 5px 40px !important;
  -webkit-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
  }
a.next:hover{
  color: #fff !important;
}
a.next:after, a.next:before {
  height: 8px;
  border-right: 3px solid #d6c294;
  content: "";
  position: absolute;
  left: 20px;
  top: 7px;
  -webkit-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
}
a.next:hover:after, a.next:hover:before {
  height: 8px;
  border-right: 3px solid #fff;
  content: "";
  position: absolute;
  left: 20px;
}
a.next:after {
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
  
}
a.next:before {
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
    top: 15px;
}



/* PRODUCTOS */

.products-item {
  /*margin: -5px 0 0 0;*/
  margin: -5px -9px 0 0; 
  /*box-sizing: padding-box;*/

}

.products-item .detail-item {
  border-top: 6px solid #d6c294;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 1px;
  cursor: pointer; 
  color: #5d5f63;
  font-size: 18px;
  font-weight: bold;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.products-item:hover .detail-item {
  color: #d6c294;
  border-top: 6px solid #5d5f63;
}
.products-item:hover .ref-product {
  background-color: #5d5f63;
}
/*.products-item:nth-child(3n+1){
  padding-left: 0px;

  
}
.products-item:nth-child(3n){
  padding-right: 0px;  
}*/
.products-item img {
 /* min-height: 279px;*/

}

.link-detail  {
  position: relative;
  height: 30px;
}
.products-item .detail-item .price  {
  font-weight: bold;
  margin-top:5px;
} 

.products-item .ref-product {
  position: absolute;
  right: 20px;
  background-color: #d6c294;
  border-radius: 12px;
  padding: 2px 20px 2px 20px;
  font-size: 12px;
  top: 20px;
  font-weight: bold;
  margin-right: 15px;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* DETAIL ITEM */

.detail-product {
  margin-left: 10px;
 
}

.detail-product img{
  width: 100%;
  margin-top: -5px;
}
.detail-product h1{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Merriweather';
  color: #5d5f63;
  
}
.detail-product p {
  font-size: 14px;
  color: #d6c294;
  
   /*-webkit-column-count: 2;
    -moz-column-count: 2;
         column-count: 2;*/
}
.detail-product .price-product {
  color: #d6c294;
 
  font-weight: bold;
  font-size: 20px;
}
.detail-product .head-ref-product , .buy-product {
  font-size: 14px;
  color: white;
  font-weight: bold;
  
  padding: 2px 20px 2px 20px;
  background-color: #5d5f63;
  border-radius: 12px;
  display: inline-block;
}

.sidebar-left-product {

}
.sidebar-left-product h1 {
  font-size: 30px;
  font-weight: bold;
}
.sidebar-left-product p {
  margin-top: 100px;
  color:white;
}


/*    BOXES    */
.box {
    margin-top: 100%;
}
.box-hard {
  margin-top: 250%;
}

.box-half {
    margin-top: 50%;
}

.box-third {
    margin-top: 66.66666%;
}

.box-fourth {
    margin-top: 25%;
}
.box-footer {
  height: 130px;
  margin-top: 15px;
}

.box-footer p {
  font-size: 13px;
  color: #ffffff;
} 

.sub-footer h3 {
  color:#5d5f63;
  font-size: 20px;
}
.sub-footer p {
  font-size: 16px;
  line-height: 30px;
  color:#5d5f63;
}

.sub-footer .social-network ul {
  float: right;
  display: block;
}
.sub-footer .social-network li {
  float: left;
  padding-left: 11px;
  padding-right: 25px;
  padding-top: 1px;
}
.sub-footer .social-network p {
  font-weight: bold;
  text-align: right;
}

.sub-footer .social-network-left p {
  text-align: left;
}
.sub-footer .social-network-left ul {
  float: left;
  display: block;

}


.offset-top-50 {
  margin-top: 50%;
}
.offset-top-30 {
  margin-top: 30%;
}


.offset-top-25 {
  margin-top: 25%;
}

.offset-bottom-25 {
  margin-bottom: 25%;
}

.m-top-100 {
  margin-top: 100px;
}

.m-top-85 {
  margin-top: 85px;
}
.m-top-50 {
  margin-top: 50px;
}
.m-top-15 {
  margin-top: 15px;
}
.m-bottom-100 {
  margin-bottom: 100px;
}
.m-bottom-75 {
  margin-bottom: 75px;  
}
.m-bottom-60 {
  margin-bottom: 60px;  
}
.m-bottom-30 {
  margin-bottom: 30px;  
}
.m-bottom-20 {
  margin-bottom: 20px;  
}
.m-right-25 {
  margin-right: 25px;
}

.in {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.index {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.index.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.index.video {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.index.video:after {
  content: url(../img/icon-btn-play.png);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: calc(50% - 39px);
  background-color: rgba(93, 95, 99, .6);
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.index.video:hover:after {
  background-color: rgba(93, 95, 99, 0);
}

.index:not(.video) {
  padding: 20px;
}
.index:not(.video) {
  padding: 20px;
}

.gold {
  background-color: #d6c294;
}

.brown {
  background-color: #8f807a;
}

.grey {
  background-color: #5d5f63;
}
/*     FORM       */
#contact-form input , #contact-form textarea {
  color:black;
  border-radius: 0px;
  border: 2px solid #d6c294;
}
#contact-form input::-webkit-input-placeholder{
  color:#c3beb8;
}

#contact-form input::-moz-placeholder {
  color:#c3beb8;
}

#contact-form textarea::-moz-placeholder{
  color:#c3beb8;
}
#contact-form textarea::-webkit-input-placeholder{
  color:#c3beb8;
}

#contact-form h3 {
  color: #5d5f63;
  font-size: 20px;
  font-weight: bold;
}

/* BUTTONS */
.btn{
   width: 165px;
   height: 30px;
   font-family: 'Merriweather';
   font-weight: bold;
   border-radius: 15px;
   text-align: left;
   padding-left:40px;
   font-size: 14px;
   color: #fff;
   -ms-transition: background-color 0.6s linear;
   -o-transition: background-color 0.6s linear;
   -moz-transition: background-color 0.6s linear;
   -webkit-transition: background-color 0.6s linear;
   transition: background-color 0.6s linear;
}
.btn:hover{
  color: #fff;
}
.btn a{
   color:#fff;
}
.btn a:hover{
   text-decoration: none;
}

/*BUTTON GOLD*/
.gold{
   background-color: #d6c294;
}
.btn.gold:after, .btn.gold:before {
    width: 20px;
    height: 8px;
    right: 100%;
    border-right: 3px solid #5d5f63;
    content: "";
    position: absolute;
    left: 0;
    padding-top: 4px;
    -ms-transition: background-color 0.6s linear;
    -o-transition: background-color 0.6s linear;
    -moz-transition: background-color 0.6s linear;
    -webkit-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
}

.btn.gold:after {
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);

}
.btn.gold:before {
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    top: 15px;
}
.btn.gold:hover{
    background-color: #fff;
    border-right: #d6c294;
    color: #5d5f63;
}
.btn.gold:hover:after, .btn.gold:hover:before {
    width: 20px;
    height: 8px;
    right: 100%;
    border-right: 3px solid #5d5f63;
    content: "";
    position: absolute;
    left: 0;
    padding-top: 4px;
}
/*BUTTON GREY*/
.grey{
    background-color: #5d5f63;
    z-index: -9999;
}

.btn.grey:after, .btn.grey:before {
    width: 20px;
    height: 8px;
    right: 100%;
    border-right: 3px solid #d6c294;
    content: "";
    position: absolute;
    left: 0;
    margin-left: 20px;
    top:7px;
    -ms-transition: background-color 0.6s linear;
    -o-transition: background-color 0.6s linear;
    -moz-transition: background-color 0.6s linear;
    -webkit-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
}
.btn.grey:after {
   -ms-transform: skew(45deg);
   -o-transform: skew(45deg);
   -moz-transform: skew(45deg);
   -webkit-transform: skew(45deg);
   transform: skew(45deg);
}
.btn.grey:before {
   -ms-transform: skew(-45deg);
   -o-transform: skew(-45deg);
   -moz-transform: skew(-45deg);
   -webkit-transform: skew(-45deg);
   transform: skew(-45deg);
   top: 15px;
}
.btn.grey:hover{
   background-color: #d6c294;
   border-right: #5d5f63;
}
.btn.grey:hover:after, .btn.grey:hover:before{
    width: 20px;
    height: 8px;
    right: 100%;
    border-right: 3px solid #5d5f63;
    content: "";
    position: absolute;
    left: 0;
    margin-left: 20px;
    padding-top: 4px;
}

/*BUTTON WHITE*/

.btn.circle-white {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    background-color: #fff;
    -ms-transition: background-color 0.6s linear;
    -o-transition: background-color 0.6s linear;
    -moz-transition: background-color 0.6s linear;
    -webkit-transition: background-color 0.6s linear;
    transition: background-color 0.6s linear;
    position: relative;
    margin-right: 10px;
}

.btn.circle-white:after, .btn.circle-white:before {
    height: 8px;
    right: 100%;
    border-right: 3px solid #d6c294;
    content: "";
    position: absolute;
    left: 0;
    margin-left: 14px;
    top:7px;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
}
.btn.circle-white:after {
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}
.btn.circle-white:before {
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    top: 15px;
}
.btn.circle-white.arrow-grey:after, .btn.circle-white.arrow-grey:before {
    border-right: 3px solid #5d5f63;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}


.btn.circle-white:hover:after, .btn.circle-white:hover:before {
    border-right: 3px solid #d6c294;
    padding-top: 4px;
}
.btn.circle-gold {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
}

.btn.circle-gold a:after, .btn.circle-gold a:before {
    width: 20px;
    height: 8px;
    right: 100%;
    border-right: 3px solid #d6c294;
    content: "";
    position: absolute;
    left: 0;
    margin-left: 13px;
    top:7px;
}
.btn.circle-gold a:after {
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}
.btn.circle-gold a:before {
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    top: 15px;
}
.btn.circle-gold:hover{
    background-color: #d6c294;
    border-right: #fff;
}
.btn.circle-gold:hover a:after, .btn.circle-gold:hover a:before {
    width: 20px;
    height: 8px;
    right: 100%;
    border-right: 3px solid #fff;
    content: "";
    position: absolute;
    left: 0;
    margin-left: 13px;
    padding-top: 4px;
}

a.box-link span {
  position: absolute;
  left: 60px;
  top: 50%;
  margin-top: 3px;
  color: white;
  -ms-transform: translateY(-50%)all 1s linear;
  -o-transform: translateY(-50%)all 1s linear;
  -moz-transform: translateY(-50%)all 1s linear;
  -webkit-transform: translateY(-50%)all 1s linear;
  transform: translateY(-50%)all 1s linear;
}
a .index.gold, a .index.grey{
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  padding-top: 27px;
}
a .index.gold:hover{
  background-color: #5d5f63;
}
a .index.gold:hover .btn.circle-white:after,a .index.gold:hover .btn.circle-white:before {
  border-right: 3px solid #5d5f63;
}
a .index.grey:hover{
  background-color: #d6c294;
}
a .index.grey:hover .btn.circle-white:after,a .index.grey:hover .btn.circle-white:before {
  border-right: 3px solid #d6c294;
}
a .index.gold:hover .btn.circle-white.arrow-grey:after,a .index.gold:hover .btn.circle-white.arrow-grey:before {
  border-right: 3px solid #d6c294;
}
a:visited{
  color: #fff;
}
.box-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 20px;
}

.inside{
  position: relative;
  padding-bottom: 30px;
}
.inside a .btn.grey:after, .inside a .btn.grey:before{
  width: 0px;
}
.inside a .btn.grey:hover{
  background-color: #fff;
  color:#5d5f63;
}
.inside a p{
  color: #fff;
}
.inside a p:hover{
  color: #000;
}

/*    BUTTONS    */

a.box-link {
  display: block;
  height: 100%;
  vertical-align: middle;
}

a.box-link span {
  position: absolute;
  left: 60px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

.icon-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
}

.icon-arrow {

}



.icon-arrow::before,
.icon-arrow::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 38px;
  width: 2px;
  height: 14px;
  background: white;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  -ms-transition: -ms-transform 0.3s, background-color 0.3s;
  -ms-transition: -ms-transform 0.3s, background-color 0.3s;
  -o-transition: -o-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.icon-arrow.gold::before,
.icon-arrow.gold::after {
  background-color: #d6c294;
}

.icon-arrow.brown::before,
.icon-arrow.brown::after {
  background-color: #8f807a;
}

.icon-arrow.grey::before,
.icon-arrow.grey::after {
  background-color: #5d5f63;
}

.icon-arrow::before {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);

  -webkit-transform-origin: -15px 14px;
  -moz-transform-origin: -15px 14px;
  -ms-transform-origin: -15px 14px;
  -o-transform-origin: -15px 14px;
  transform-origin: -15px 14px;
}

.icon-arrow::after {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);

  -webkit-transform-origin: -2px -5px;
  -moz-transform-origin: -2px -5px;
  -ms-transform-origin: -2px -5px;
  -o-transform-origin: -2px -5px;
  transform-origin: -2px -5px;
}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
  }
}

@media (max-width: 768px) {

  #navbar {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    padding: 0px;
  }
  .navbar-right {
    padding-bottom: 10px;
  }
  input[type="search"]{
      margin: 0 auto;
  }

}